Title: <%= @comic.title %><br>
Published: <%= @comic.published %><br>
Author: <%= @comic.author %><br>
Illustrator: <%= @comic.illustrator %><br>
Summary: <%= @comic.summary %><br>
<a href="/comics/<%= @comic.id %>/edit">Edit Comic</a>

